html,body{
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  padding: 20px;
  background-color: black;
}
.user-card{
  height: 300px;
  width: 300px;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  color: white;
  font-size: 2rem;
}

button{
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: none;
}
.all-cards{
  display: flex;
  flex-wrap: wrap;
}