*{
  font-family: Arial, Helvetica, sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
  color: white;
  background-color:black;
}

h1{
  font-size: 80px;
  font-weight: 600;
  position: absolute;
  top: 30vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  text-decoration: underline;
  white-space: nowrap;
}

h2{
  font-size: 80px;
  font-weight: 600;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  text-decoration: underline;
  white-space: nowrap;
}

.Nav{
  display: flex;
  gap: 20px;
  font-size: 40px;
}

.Nav a{
  text-decoration: none;
  color: white;
}

.sale{
  background-color: rgb(174, 0, 255);
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
}

.sale p{
  flex-shrink: 0;
}