*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

.nav{
  padding: 20px;
  background-color: aquamarine;
}