*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
}

body{
  background-color: black;
  padding: 20px;
}

.card{
  height: 400px;
  width: 400px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.upper{
  height: 50%;
  width: 100%;
}

.upper img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  
}

.lower{
  height: 50%;
  width: 100%;
  padding: 10px;
}

.lower h2{
  font-size: 35px;
}

.lower h4{
  font-size: 18px;
  font-weight: 500;
  color: #888;
}

.lower h3{
  font-size: 25px;
  color: black;
  margin-top: 20px;
}

