html, body{
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
form{
  padding: 20px;
  background-color: #333;
  display: flex;
  gap: 10px;
}

input,button{
  padding: 5px 10px;
}